<h1>Request new password</h1>
<% if flash[:error] %>
<p class="error"><%= flash[:error] %></p>
<% end %>

<%= form_for(:user, :url => generate_and_send_new_password_path) do |f| %>
<%= f.label :login, 'Your login *' %>
<%= f.text_field :login, :required => 'required' %><BR>

<button class="submit" type="submit">Regenerate</button>

<% end %>
