<div class="well">
<p><b>Data Usage Agreement</b></p>
<ol>
<li>The BiodivERsA database is freely accessible to everyone; however, user registration is mandatory.</li>
<li>Data completeness and correctness is not guaranteed.</li>
<li>Data quality is the responsability of BiodivERsA partners (=i.e. the Data Sources).</li>
<li>The Legal requirements for releasing the data are under the responsibility of the BiodivERsA partners.</li>
<li>Re-use of data for commercial usage is forbidden. It is also forbidden to replicate its content in a mirror database.</li>
<li>Re-use of data for non-commercial usage is subject to prior acceptance by the BiodivERsA Executive Board.</li>
<li>Re-use of data will have to be clearly acknowledged according to guidelines provided by BiodivERsA.</li>
<li>Users will always show due attribution to the owner, such as &quot;<i>BiodivERsA database, accessed on <%= Date.current %></i>&quot;.</li>
<li>As all BiodivERsA products, the BiodivERsA database (content and website), whatever its informatics structure and host site, is own by the BiodivERsA consortium.</li>  <li>BiodivERsA database is hosted and managed by a BiodivERsA partner.</li>
<li>We cannot guarantee that linked websites will work at all times, and have no control over their availability or content.</li>
<li>Major decisions dealing with the BiodivERsA database will be taken by the BiodivERsA Executive Board and, if needed, by the BiodivERsA General Assembly.</li>
</ol>
</div>
