<h2>Links</h2>
<h3>BiodivERsA Partners</h3>
<table class="table-striped">
<tr>
  <th>Code</th>
  <th>Name</th>
</tr>

<% @sources.each do |source| %>
<tr>
    <td><%= link_to source.origid, source %></td>
    <td><%= source.country.name %>, <%if !source.name.nil?%><%= source.name %><%else%>&nbsp;<%end%></td>
</tr>
<% end %>
</table>

<h3>Related databases</h3>
<ul>
<li><a href="http://gepris.dfg.de/gepris/OCTOPUS", target="blank">GEPRIS database</a> (DFG-German Research Fundation)</li>
<li><a href="http://www.envirobase.info", target="blank">ENVIROBASE</a>, a development of the Environmental Research Database which now includes information about environmental observations collated by the UK Environmental Observation Framework</li>
<li><a href="http://randd.defra.gov.uk/Default.aspx?Menu=Menu&Module=Theme&Completed=0", target="blank">DEFRA's database</a> (The Department of the Environment, Food and Rural Affairs)</li>
<li><a href="http://www.belspo.be/belspo/invent/intro_en.stm", target="blank">INVENT database</a> (BELSPO-Belgian Science Policy)</li>
<li><a href="http://www.belspo.be/belspo/fedra/intro_en.stm", target="blank">FEDRA database</a> (BELSPO-Belgian Science Policy)</li>
</ul>